.mainContent {
    flex: 1;
    background: transparent;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Продукция */
.productSection{
    padding-bottom: 40px;
}

.productSectionName{
    font-size: 46px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px 0px;

}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    justify-content: center;
}

.productCard {
    width: 100%;
    height: 400px;

    border-radius: 15px;
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    transition: all 0.3s ease;

    min-height: 500px;

    overflow: hidden;
}

.productCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.98);
}

.cardImageContainer {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;
}

.productIconPlank {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.productIconRoundWood{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transform: scaleX(-1);
}
.productIconWoodChips{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
.productIconPlywood{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transform: rotate(45deg) translateX(50%);
}
.productIconVeneer{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}


.productDesc {
    height: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

.productTitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: #7B4538;
    padding: 0px;
}

.sizeBtn {
    background: #7B4538;
    width: 200px;
    height: 50px;
    border-radius: 20px;

    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;

    border: none;
    cursor: pointer;

    box-shadow:
        0 4px 15px rgba(123, 69, 56, 0.3),
        inset 0 1px 0 rgba(255, 255, 255, 0.2);

    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.sizeBtn:hover {
    background: #925343;
}

.sizeBtn:active {
    transform: translateY(2px);
    background: #724134;
    box-shadow:
        0 2px 10px rgba(123, 69, 56, 0.3),
        inset 0 1px 0 rgba(255, 255, 255, 0.1);
}


.sizeBtn:focus {
    outline: none;
    box-shadow:
        0 0 0 3px rgba(123, 69, 56, 0.3),
        0 4px 15px rgba(123, 69, 56, 0.3);
}



@media (max-width: 768px) {
    .sectionTitle {
        font-size: 2rem;
    }

    .featuresGrid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .catalogSection,
    .featuresSection {
        padding: 50px 0;
    }
}